absl-py==1.4.0
aiofiles==23.2.1
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.15.5
asttokens==2.0.5
async-timeout==4.0.2
attrs==19.3.0
Automat==0.8.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.6.2
blis==0.7.9
bs4==0.0.2
cached-property==1.5.2
cachetools==5.3.1
catalogue==2.0.8
certifi==2019.11.28
cffi==1.15.0
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
cloud-init==22.1
cloudpathlib==0.16.0
colorama==0.4.3
command-not-found==0.3
confection==0.1.4
configobj==5.0.6
conllu==4.5.3
constantly==15.1.0
contourpy==1.0.7
cryptography==2.8
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.11.0
cymem==2.0.7
datasets==2.12.0
dbus-python==1.2.16
de-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/de_core_news_lg-3.7.0/de_core_news_lg-3.7.0-py3-none-any.whl#sha256=1451e06dedb5c3bb096127bf7c2117c253265fdfcad29ee488ff57bec5f78eaa
de-core-news-md @ https://github.com/explosion/spacy-models/releases/download/de_core_news_md-3.7.0/de_core_news_md-3.7.0-py3-none-any.whl#sha256=1426896f135b7e6314637faa9025a3e580c9ba2785372ccffe723dc20b41c493
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl#sha256=d88c737eb7eb766f730f6a2dcb99dfcdb81623e1e0d89a9c638a2182ac19c52e
de-dep-news-trf @ https://github.com/explosion/spacy-models/releases/download/de_dep_news_trf-3.7.2/de_dep_news_trf-3.7.2-py3-none-any.whl#sha256=3fb898b58c3647aa157e8b3ceb7acb43499f27e6d2f8a23f4c130f9c3de32cd4
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
emoji==2.12.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints==0.3
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl#sha256=61e6e5530941f5880166855f09f60d7e6ba79ec1e8e45f96244bdb1eb169eb1d
estnltk==1.7.2
estnltk-core==1.7.2
estnltk-neural==1.7.2
exceptiongroup==1.1.1
executing==0.8.3
fastapi==0.110.2
fastjsonschema==2.15.3
fasttext==0.9.3
ffmpy==0.3.2
filelock==3.0.12
flake8==6.0.0
Flask==2.3.1
fonttools==4.39.0
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl#sha256=37e9f1f6a278a5138fabdabcc92cc559da917f9b24c76f0adf6758720d7eab10
frozenlist==1.3.3
fsspec==2023.5.0
ftfy==6.2.0
future==0.18.3
gensim==4.3.1
google-auth==2.19.0
google-auth-oauthlib==1.0.0
gradio==4.27.0
gradio_client==0.15.1
grpcio==1.54.2
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.14.0
httpx==0.27.0
huggingface-hub==0.22.2
hyperlink==19.0.0
idna==2.8
importlib-metadata==6.6.0
importlib-resources==5.12.0
incremental==16.10.1
iniconfig==2.0.0
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
-e git+https://github.com/sebets1/joeynmt@04d48e9112a216ec05a968332c85bc187e0c93c6#egg=joeynmt
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.3.0
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keyring==18.0.1
kiwisolver==1.4.4
langcodes==3.3.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.9.0
Levenshtein==0.25.1
locate==1.1.1
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.7.5
matplotlib-inline==0.1.3
mccabe==0.7.0
mdurl==0.1.2
mistune==0.8.4
mock==5.0.2
more-itertools==4.2.0
mpmath==1.2.1
mrjob==0.7.4
msgpack==1.0.8
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
nbclient==0.6.2
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netifaces==0.10.4
networkx==3.1
nltk==3.7
nose==1.3.7
notebook==6.4.11
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.1.0
orjson==3.10.1
packaging==23.0
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pathy==0.8.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.5.1
plotly==5.14.1
pluggy==1.0.0
portalocker==2.6.0
preshed==3.0.8
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.3
psutil==5.9.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyahocorasick==2.1.0
pyarrow==12.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pybind11==2.13.6
pycodestyle==2.10.0
pycparser==2.21
pydantic==2.7.1
pydantic_core==2.18.2
pydub==0.25.1
pyflakes==3.0.1
pygame==2.3.0
Pygments==2.17.2
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.17.4
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.0.9
pyrsistent==0.15.5
pyserial==3.4
pytest==7.3.1
python-apt==2.0.0+ubuntu0.20.4.7
python-crfsuite==0.9.10
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-multipart==0.0.9
pytz==2022.1
PyYAML==5.3.1
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.1.0
rapidfuzz==3.9.7
regex==2024.5.10
requests==2.22.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
responses==0.18.0
rich==13.7.1
rsa==4.9
ruff==0.4.1
sacrebleu==2.3.1
sacremoses==0.0.53
safetensors==0.4.2
scikit-learn==1.1.3
scikit-plot==0.3.7
scipy==1.8.0
seaborn==0.11.2
SecretStorage==2.3.1
semantic-version==2.10.0
Send2Trash==1.8.0
sentencepiece==0.1.99
service-identity==18.1.0
shellingham==1.5.4
simplejson==3.16.0
six==1.16.0
smart-open==5.2.1
sniffio==1.3.1
sos==4.3
soupsieve==2.3.2.post1
spacy==3.7.4
spacy-curated-transformers==0.2.2
spacy-legacy==3.0.12
spacy-loggers==1.0.3
srsly==2.4.5
ssh-import-id==5.10
stack-data==0.2.0
stanza==1.8.2
starlette==0.37.2
subword-nmt==0.3.8
sympy==1.11.1
systemd-python==234
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.0
terminado==0.13.3
thinc==8.2.3
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==1.13.0
torchaudio==0.12.1+cu116
torchdata==0.5.0
torchtext==0.14.0
torchvision==0.13.1+cu116
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
transformers==4.39.3
Twisted==18.9.0
typer==0.9.4
typing_extensions==4.11.0
ubuntu-advantage-tools==27.6
ufw==0.36
unattended-upgrades==0.1
urllib3==2.2.1
uvicorn==0.29.0
virtualenv==20.0.17
wadllib==1.3.3
wasabi==0.10.1
wcwidth==0.2.13
weasel==0.3.4
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.3.0
widgetsnbextension==3.6.0
wordfreq==3.1.1
wrapt==1.15.0
xxhash==3.2.0
yapf==0.33.0
yarl==1.9.2
zipp==3.15.0
zope.interface==4.7.1
